
<!--El template se encarga de mostrar el codigo html de nuestra app-->
<template>
  <div class="div">
    <h2>{{ customTitle }}</h2>
    <p>{{ counter }} <sup>2</sup> = {{ squareCounter }}</p>
    <div>
      <button v-on:click="aumentar">+1</button>
      <button v-on:click="disminuir">-1</button>
      <br />
      <div class="ingreso">
        <p id="texto">Ingrese un valor</p>
        <input id="boton" type="number" v-model="counter" />
      </div>
    </div>
  </div>
</template>

<!--El script se encarga de mostrar el codigo js de nuestra app-->
<script>
export default {
  props: {
    title: String,
    start: {
      type: Number,
      default: 100,
      validator(value) {
        return value > 100;
      },
    },
  },
  data() {
    return {
      counter: this.start,
    };
  },
  methods: {
    getSquareValue() {
      return this.counter * this.counter;
    },

    disminuir() {
      this.counter = this.counter - 1;

      console.log(this.counter);
    },

    aumentar() {
      this.counter = this.counter + 1;
      console.log(this.counter);
    },
  },

  /*Las propiedades computadas se guargan en CACHE*/
  computed: {
    squareCounter() {
      console.log("computed squareCounter");
      return this.counter * this.counter;
    },

    customTitle() {
      if (this.title === undefined) {
        return "App que eleva al cuadrado un número";
      } else {
        return this.title;
      }
    },
  },
};
</script>

<!--Aca colocamos el codigo CSS3 -->
<style>
button {
  background-color: rgb(189, 32, 4);
  border-radius: 5px;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  margin: 0 5px;
  padding: 5px 15px;
  transition: 0.3s ease-in-out;
}

button:hover {
  background-color: #ff0080;
  transition: 0.3s ease-in-out;
}

input {
  margin-top: 10px;
}

.div {
  background-color: #00ff40;
}

.ingreso {
  width: 500px;
  background-color: chartreuse;
  margin-left: auto;
  margin-right: auto;
}
#boton{
  width: 80px;
}
#texto {
  text-align: center;
  color: black;
}
</style>